<div class="box"> 
 <!--Title-->
 <div class="header">
  <h2>Welcome to Skillz</h2>
  <!--Toggle-->
  <span class="toggle"></span>
 </div>
 <!--Content-->
 <div class="content clearfix padding">
     Skillz is a simple application to keep track of what people known and like in your organization.
 </div>
</div>