<div class="box">
    <div class="header">
        <h2><a href="#">People</a></h2>
    </div>
    <div class="content clearfix">
        <table class="datatable">
            <thead>
                <tr>
                    <th class="sorting_asc" width="60px">  </th>
                    <th class="sorting"> Name </th>
                    <th class="sorting" width="100px">Nr. of Skills</th>
                    <th class="sorting" width="100px">Nr. of Interests</th>
                    <th class="sorting" width="150px">Links</th>
                </tr>
            </thead>
            <tbody>
                {{#people}}
                <tr class="gradeA {{class}}">
                    <td class="center middle sorting_1">
                        <a href="#person/{{id}}">
                            {{#imageUrl}}
                            <img src="{{imageUrl}}" width="40" height="40"/>
                            {{/imageUrl}}
                            {{^imageUrl}}
                            <img src="https://a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-140.png" width="40" height="40"/>
                            {{/imageUrl}}
                        </a>
                    </td>
                    <td class="middle"><a href="#person/{{id}}">{{name}}</a></td>
                    <td class="middle bignumber">{{nrOfSkills}}</td>
                    <td class="middle bignumber">{{nrOfInterests}}</td>
                    <td class="middle">
                        <a href="mailto:{{email}}"><span class="link email"></span></a>
                        {{#skype}}<a href="skype:{{skype}}?userinfo"><span class="link skype"></span></a>{{/skype}}
                        {{#twitter}}<a href="http://twitter.com/{{twitter}}" target="_blank"><span class="link twitter"></span></a>{{/twitter}}
                        {{#github}}<a href="http://github.com/{{github}}" target="_blank"><span class="link github"></span></a>{{/github}}
                    </td>
                </tr>
                {{/people}}
            </tbody>
        </table>
    </div>
</div>
