<div class="box"> 
    <div class="header">
        <h2><a href="#people">People</a> &gt; {{name}}</h2>
    </div>
    <div class="content padding">
        <a href="#person/{{id}}">
            {{#imageUrl}}
            <img src="{{imageUrl}}" width="40" height="40"/>
            {{/imageUrl}}
            {{^imageUrl}}
            <img src="https://a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-140.png" width="40" height="40"/>
            {{/imageUrl}}
        </a>
        
        <a href="mailto:{{email}}"><span class="link email"></span></a>
        {{#skype}}<a href="skype:{{skype}}?userinfo"><span class="link skype"></span></a>{{/skype}}
        {{#twitter}}<a href="http://twitter.com/{{twitter}}" target="_blank"><span class="link twitter"></span></a>{{/twitter}}
        {{#github}}<a href="http://github.com/{{github}}" target="_blank"><span class="link github"></span></a>{{/github}}
    </div>
</div>

<div class="box one_half"> 
    <div class="header">
        <h2><a href="#">Skills</a></h2>
    </div>
    <div class="content">
        <div class="accordion">
            <h2 class="panel">Level of skill (1-10)</h2>
            <div class="content">
                <ul class="chartlist">
                    {{#skills}}
                    <li>
                      <a href="#topic/{{id}}">{{name}}</a> 
                      <span class="count">{{level}}</span>
                      <span class="index" style="width: {{percentage}}%">({{percentage}}%)</span>
                    </li>
                    {{/skills}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="box one_half last">
    <div class="header">
        <h2><a href="#">Interests</a></h2>
    </div>
    <div class="content">
        <div class="accordion">
            <h2 class="panel">Level of interest (1-10)</h2>
            <div class="content">
                <ul class="chartlist">
                    {{#interests}}
                    <li>
                    <a href="#topic/{{id}}">{{name}}</a> 
                    <span class="count">{{level}}</span>
                    <span class="index" style="width: {{percentage}}%">({{percentage}}%)</span>
                    </li>
                    {{/interests}}
                </ul>
            </div>
        </div>
    </div>
</div>