<div class="box"> 
    <div class="header">
        <h2><a href="#topics">Topics</a> &gt; {{name}}</h2>
    </div>
    <div class="content padding">
        <ul class="propertyList">
            <li>
                <span><strong>Tags: </strong></span>
                {{#tags}}
                <span class="tag"><a href="#topics/with/tag/{{.}}">{{.}}</a></span>
                {{/tags}}
            </li>
        </ul>
    </div>
</div>

<div class="box one_half">
    <div class="header">
        <h2>Skilled People</h2>
        <a href="mailto:{{#skilledAt}}{{email}},{{/skilledAt}}"><span class="email"></span></a>
    </div>
    <div class="content">
        <div class="accordion">
            <h2 class="panel">Level of skill (1-10)</h2>
            <div class="content">
                <ul class="chartlist">
                    {{#skilledAt}}
                    <li>
                      <a href="#person/{{id}}">{{name}}</a> 
                      <span class="count">{{level}}</span>
                      <span class="index" style="width: {{percentage}}%">({{percentage}}%)</span>
                    </li>
                    {{/skilledAt}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="box one_half last">
    <div class="header">
        <h2>Interested People</h2>
        <a href="mailto:{{#interestedIn}}{{email}},{{/interestedIn}}"><span class="email"></span></a>
    </div>
    <div class="content">
        <div class="accordion">
            <h2 class="panel">Level of interest (1-10)</h2>
            <div class="content">
                <ul class="chartlist">
                    {{#interestedIn}}
                    <li>
                    <a href="#person/{{id}}">{{name}}</a> 
                    <span class="count">{{level}}</span>
                    <span class="index" style="width: {{percentage}}%">({{percentage}}%)</span>
                    </li>
                    {{/interestedIn}}
                </ul>
            </div>
        </div>
    </div>
</div>