.chartlist { 
  float: left; 
  /*border: 1px solid #DADADA; */
  width: 95%;
}

.chartlist li { 
  position: relative;
  display: block;  
  border: 1px solid #DADADA; 
  _zoom: 1;
}

.chartlist li a { 
  display: block;
  padding: 0.4em 4.5em 0.4em 0.5em;
  position: relative;
  z-index: 2;
}

.chartlist li:hover { 
  background: #EFEFEF; 
}

.chartlist .count { 
  display: block; 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 0 0.3em; 
  text-align: right; 
  color: #999; 
  font-weight: bold; 
  font-size: 0.875em; 
  line-height: 2em;
  z-index: 2;
}

.chartlist .index { 
  display: block;
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  background: #9edae5; 
  text-indent: -9999px; 
  overflow: hidden; 
  line-height: 2em;
  border-style:solid;
  border-width:1px;
  border-color:#17becf;
}
