.tag {
    background-color: #dee7f8; 
    border: 1px solid #a4bdec; 
    padding: 0 10px 0 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.propertyList {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.propertyList li {
    float: left; 
    margin-right: 20px; 
    margin-bottom: 0px;
}

.box .header .email {
	margin-top: 10px;
	margin-right: 20px;
	width: 20px;
	height: 21px;
	background-image: url(images/envelope.png);
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
}
.box .header .email:hover,
.box .header .email:focus {
	background-image: url(images/envelope.png);
}


/* Link icons used to link to external accounts and social media. */

a span.link {
	margin-right: 7px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	float: left;
	cursor: auto;
}

a span.email {background-image: url(images/links/email2.png);}
a span.email:hover,
a span.email:focus {background-image: url(images/links/email2-active.png);}

a span.skype {background-image: url(images/links/skype.png);}
a span.skype:hover,
a span.skype:focus {background-image: url(images/links/skype-active.png);}

a span.twitter {background-image: url(images/links/twitter.png);}
a span.twitter:hover,
a span.twitter:focus {background-image: url(images/links/twitter-active.png);}

a span.github {background-image: url(images/links/github.png);}
a span.github:hover,
a span.github:focus {background-image: url(images/links/github-active.png);}
